.top_bar{

	background-color: orange;
	padding: 5px 0;
}

.social_icon{

	margin-right: 5px;
}

.contact-info{

	color: white;
	font-size: 17px;
}

.my_menu{

	margin-top: 27px;
}

.my_menu .navbar-default{

	background: none;border: none;
}

.my_menu .navbar-nav .active a,.my_menu .navbar-nav .active a:hover{background-color: orange;color: white;}

.my_menu .navbar-nav li a:hover{background-color: orange;color: white;}

.pip{

	margin-top: 40px;
}

.my_cources{

	background:radial-gradient(circle,blue,red);
}

.my_cources h1{color: white;}

.my_cources .my_raw{

	margin-top: 26px;
}

@media (max-width: 800){

.my_cources	(class*="col-*"){

	margin-bottom: 25px;
}
}


.footer{

	background-color: black;padding:20px  0;
}

.footer{
	color: white;
}

.footer p {
	color: white
}

.footer ul {list-style: none;margin: 0;padding: 0}
 
.footer ul li a{
	color: white;
	font-size: 15px;
}

@media (max-width: 1200px)
{
	.my_menu .pull-right{float: none #important;} 
}


	
